.navbar-header .navbar-brand a{
	color: #000;
}

#barra-nav a{
	color: #fff;
	text-transform: uppercase;
	transition: 0.7s;
}

#barra-nav a:hover{
	color: #000;
}

.card{
	margin-bottom: 15px;

}

.card h5{
	font-weight: bold;
}

.card-body{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body a{
	margin-bottom: 20px;
	transition: 0.7s;
}

.card img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.onibus{
	text-align: center;
	margin-top: 2%;
}

#c-tab{
	color: #fff;
	text-transform: uppercase;
	background-color: #273c75;
}

#e-tab{
	color: #fff;
	text-transform: uppercase;
	background-color: #273c75;
}

#f-tab{
	color: #fff;
	text-transform: uppercase;
	background-color: #273c75;
}

.nav-item{

}

#festa{
	
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.lista{
	margin: 0 auto;
}

#convencional{
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#executivo{

	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.lista{
	margin: auto;
}

.list-group{
	position: relative;
	width: 300px;
	margin: auto;
}

.list-group-item{
	color: #000;
}

.conteudo{

}

.card-body{
	padding-top: 15px;
	margin-bottom: 50px;
}

.card-img-top{
	margin: auto;
}

.card-text{
	margin: 2px 10px;
	text-align: justify;
}

.card i{
	font-size: 16px;
	padding-left: 5px;
}

span{
	font-weight: bold;
}

footer{
	background-color: #8e44ad;
}

.form-control{
	margin: 10px 0;
}
